.overlay-image{

	position: absolute;
	width: 100%;
	height: 100%; 
	opacity: 100%; 
	background: #FFC107; 
	opacity: 50%;
}

#heading-container{
position: absolute;
height: 25%;
width: 60%;
left: 40%; 
}

.heading{

position: absolute;
font-size: 40;
font-family: "Alex brush";

}

.tagline{

	position: absolute;
	font-size: 20;
	font-family: "Arial", sans-serif;
	top: 25%; 
	left: -22%; 
}

.about-text{

	position: absolute;
	height: 45%;
	width: 30%;
	font-size: 18;
	font-family: "Arial", sans-serif;
	top: 33%; 
	left: 5%; 
}

.image{

	position: relative;
	height: 60%; 
	width: 50%; 
}

.org-img{

position: absolute;
height: 100%;
width: 100%; 
top: 33%;  
left: 90%; 

}

#links-container{

	position: relative;
	top: 30%; 
}

.links{

	display: inline-block;
	font-size: 20; 
	margin-left: 6.2%;
	margin-right: 6.2%; 

}
